@import "tailwindcss";

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.urbanist-semibold {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.syne {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight:  500;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


/* @keyframes scanline {
  0% { transform: translateY(0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(500px); opacity: 0; }
}

.animate-scanline {
  animation: scanline 4s linear infinite;
}


@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&family=Poppins:wght@300;400;600&display=swap'); */